.header{
margin-left:auto;
margin-right:auto;
height:80px;
width:600px;
background-color:deepskyblue;

}

.header_title{
padding-top:20px;
text-align:center;
font-size:30px;
}

.info{
margin-left:auto;
margin-right:auto;
width:500px;
padding-top:15px;
}

.show_info{
text-align:center;
font-size:24px;
}

.input_nmb{
margin-left:auto;
margin-right:auto;
width:100px;
padding-top:15px;
}

.response{
margin-left:auto;
margin-right:auto;
width:500px;
padding-top:15px;
}

input{
width:100px;
text-align:center;
box-sizing:border-box;
margin-top:10px;
}
